name: DevBuild

on:
  push:
    branches: [ develop ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          registry-url: 'https://registry.npmjs.org'
      - name: init
        run: |
          npm i -g pnpm
          pnpm install
      - name: generate dev build
        run: pnpm build
      - name: Create new commit
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.email "github-actions@xpadev.net"
          git config user.name "github-actions"
          git fetch --all
          git checkout typedoc
          cp -f ./dist/bundle.js ./docs/
          git add .
          git commit -m "dev-build" -n
          git push -f origin typedoc
