on: [workflow_dispatch]

name: Update Playwright Screenshots
permissions:
  contents: write

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - uses: actions/setup-node@v5
        with:
          node-version: "24"
          cache: 'pnpm'

      - name: allow write in work dir
        run: sudo chmod u+w .

      - name: Install Dependencies
        run: |
          pnpm install
          pnpm build
          pnpm playwright install-deps
          pnpm playwright install firefox

      - name: Run Playwright tests
        run: pnpm playwright test --update-snapshots

      - name: Create commit
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.email "github-actions@xpadev.net"
          git config user.name "github-actions"
          git add ./src/__tests__/**/*.png
          git commit -m "update: playwright screenshots" -n
          git push
